@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
:root * {

  transition: transform 1.5s cubic-bezier(0.55, 0, 0.1, 1), opacity 1.5s cubic-bezier(0.55, 0, 0.1, 1), font-size 1.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-sizing: border-box;
  outline: none;
}

 main {
  width: 100%;
   height: 1180px;
  margin: 0 auto;
  font-family:'Belleza', sans-serif;
}

main {
  display: grid;
  grid-template-rows: 50px 100px auto;
}
main .menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  z-index: 5;
}
main .menu > *:last-child {
  text-align: right;
}
main .menu nav {
  display: flex;
  justify-content: space-between;
}
main .menu nav a {
  text-decoration: none;
  color: black;
}
main header {
  padding-left: 20px;
}
main header h1 {
  font-size: 3rem;
}
main .hero {
  position: relative;
  display: grid;
  grid-template-rows: 2.5fr 1.5fr;
  grid-template-columns: 45% 33% 22%;
  grid-template-rows: 60% 40%;
}
main .hero > * {
  position: relative;
  overflow: hidden;
}
main .hero__main {
  grid-row: 1;
  grid-column: 1;
}
main .hero__main > .layer {
  background-color: black;
}
main .hero__main > .layer-displayed {
  z-index: 1 !important;
}
main .hero__main > .layer-displayed .layer-image-wrapper {
  transform: scale(1);
}
main .hero__main > .layer-displayed-exit {
  z-index: 2 !important;
  transform: translateY(-100%);
}
main .hero__main > .layer-displayed-exit .layer-image-wrapper {
  transform: scale(1.1) !important;
}
main .hero__main .text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
main .hero__main .text__layers {
  position: relative;
  width: 100%;
  height: 100%;
}
main .hero__main .text__layers > .layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  letter-spacing: 5px;
  color: white;
  background-color: transparent;
  transform: translateY(10%);
  opacity: 0;
}
main .hero__main .text__layers > .layer-displayed {
  font-size: 2rem;
  letter-spacing: 1px;
  transform: translateY(0%);
  opacity: 1;
}
main .hero__main .text__layers > .layer-displayed-exit {
  font-size: 1rem;
  letter-spacing: 1px;
  transform: translateY(-10%);
  opacity: 0;
}
main .hero__second {
  grid-row: 1 / -1;
  grid-column: 2;
}
main .hero__second .layer {
  background-color: black;
}
main .hero__second .layer-displayed {
  z-index: 1 !important;
}
main .hero__second .layer-displayed .layer-image-wrapper {
  transform: scale(1);
}
main .hero__second .layer-displayed-exit {
  z-index: 2 !important;
  transform: translateY(100%);
}
main .hero__second .layer-displayed-exit .layer-image-wrapper {
  transform: scale(1.4) !important;
}
main .hero__third {
  grid-row: 1 / -1;
  grid-column: 3;
  display: grid;
  grid-template-rows: auto 50px;
  background-color: #f8ad96;
  color: white;
}
main .hero__third button {
  padding-left: 15px;
  border: none;
  color: white;
  text-align: left;
  letter-spacing: 5px;
  font-size: 1.5rem;
  background-color: #f8ad96;
  z-index: 5;
  cursor: pointer;
  font-weight:bold;
  font-family:'Belleza', sans-serif;
}
main .hero__third .layer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 14px 0 0;
  opacity: 0;
  writing-mode: vertical-rl;
}
main .hero__third .layer__wrapper {
  width: 100%;
  height: 100%;
}
main .hero__third .layer span {
  display: block;
}
main .hero__third .layer span:first-child {
  padding-right: 14px;
  font-size: 1.5rem;
  letter-spacing: 5px;
}
main .hero__third .layer span:last-child {
  font-weight: bold;
  font-size: 2.5rem;
  line-height:2;
}



main .hero__third .layer-displayed {
  opacity: 1 !important;
}
main .hero__footer {
  grid-row: 2;
  grid-column: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
main .hero__footer .container {
  position: relative;
  width: 35%;
  height: 80%;
}
main .hero__footer .container .layer {
  transition-duration: 2s !important;
}
main .hero__footer .container:last-child {
  width: 30%;
  height: 80%;
}
main .hero__footer .container:last-child .layer {
  transition-delay: .1s;
}
main .hero__footer .container .layer {
  transform: translateY(200%);
}
main .hero__footer .container .layer-displayed {
  transform: translateY(0);
}
main .hero .layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}
main .hero .layer-image-wrapper {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1.1);
}
main .hero .portrait {
  position: absolute;
  top: -50%;
  left: 40%;
  width: 10%;
  height: 100%;
  z-index: 4;
}
main .hero .portrait .layer {
  height: 33%;
  top: 40%;
  transform: translateY(150%);
  opacity: 0;
}
main .hero .portrait .layer-displayed {
  transform: translateY(0);
  opacity: 1;
}
main .hero .portrait .layer-displayed-exit {
  transform: translateY(-150%);
  opacity: 0;
}
main .hero .line {
  position: absolute;
  bottom: 60%;
  left: 50%;
  width: 35%;
  height: 5px;
  border-top: 1.5px solid white;
  z-index: 3;
  transform: rotate(50deg) translateX(20%);
}